################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/DXApplicationSwitchDemo/bin/Debug
/DXApplicationSwitchDemo/obj/Debug
/DXApplicationSwitchDemo/ucVaginoscopeView.cs
/DXApplicationSwitchDemo/ucVaginoscopeView.Designer.cs
/DXApplicationSwitchDemo/ucVaginoscopeView.resx
/.vs/DXApplicationSwitchDemo/v16/Server/sqlite3
